<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466759886255-bk6p87mairjteogf3s6ugkcan3qol8o3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466759886255-bk6p87mairjteogf3s6ugkcan3qol8o3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>466759886255-d461i9esq7182qrs7ltsf7nk0f59b3p2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIhSDjR2kpUX39ZutkEDzKFTbhHVTcV0k</string>
	<key>GCM_SENDER_ID</key>
	<string>466759886255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lofo</string>
	<key>PROJECT_ID</key>
	<string>lofoiiti-65589</string>
	<key>STORAGE_BUCKET</key>
	<string>lofoiiti-65589.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466759886255:ios:5305a617ac000bf627fb5a</string>
</dict>
</plist>