# Flutter-related
**/Flutter/ephemeral/
**/Pods/

# Xcode-related
**/dgph
**/xcuserdata/

# Google Sign-In related
**/GoogleService-Info.plist
**/Info.plist
**/GeneratedPluginRegistrant.h
**/firebase_app_id_file.json
